[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
webtest = "*"

[packages]
cookiecutter = "*"
flake8 = "*"
requests = "*"
cornice = "*"
marshmallow = "*"

[requires]
python_version = "3.7"
